*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Inconsolata", sans-serif;

}
body,html{
    box-sizing: border-box;
    height:100%;
}
.nav-container{
    background-color:black;
    color:aliceblue;
    display:flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    cursor:pointer;
    padding:8px 16px;
    position:fixed;
    width:100%;
    z-index: +1;
    /* font-size: 1.1rem; */
}
.nav-item{
    width:300px;
    text-align:center;
    padding:8px;
}
.nav-item:hover{
    background-color: azure;
    color:black;
    cursor:pointer;
}
.bg-container{
    height:73%;
    /* border:2px solid black; */
    background-image: url("https://www.w3schools.com/w3images/coffeehouse.jpg");
    background-repeat: norepeat;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    filter:grayscale(50%);
    
}
.bg-container>.text-container{
    font-size:6rem;
    text-align:center;
    color:white;
    line-height:140px;
}
.bg-container>.text-container-2{
    position:absolute;
    bottom:10px;
    left:10px;
    background-color: black;
    color:white;
    padding:5px;
}
.bg-container>.text-container-3{
    position:absolute;
    bottom:10px;
    right:10px;
    /* background-color: blanchedalmond; */
    color:white;
    padding:5px;
}
.main-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;

    
}
.main-container>.main{
    width:50%;
    /* border:2px solid black; */
    height:3100px;
}
.about{
    /* text-align:center; */
    padding:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.about>p{
    /* text-align: center; */
    /* font-size: 1rem; */
    padding:10px;
    background-color: black;
    color:aliceblue;
    letter-spacing: 5px;
    width:fit-content;
    
}
.ceo{
    line-height: 30px;
    font-size: 1.1rem;
    width:fit-content;
    padding:5px;
    text-align: justify;
    margin:10px 0px;

}
.stuff{
    line-height: 30px;
    font-size: 1.1rem;
    width:fit-content;
    padding:5px;
    text-align: justify;
    margin:10px 0px;
}
.quotes{
    background-color: cadetblue;
    padding:20px;
    border-left-width:5px;
    border-left-style:solid;
    border-left-color:rgb(59, 58, 58);
    margin:10px 0px;
}
.quotes>.cafe{
    margin-bottom:10px 0px;
}
.quotes>.sub{
    margin-bottom:10px 0px;
}
.image-container>img{
    width:100%;
    filter:grayscale(50%);
}
.hours,.address{
    padding:10px 0px;
}
.food-container{
    /* border:2px solid red; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left:10px;
}
#a,#b{
    display:none;
}
.label{
    display:flex;
    justify-content: space-evenly;
    padding:1px;
}
.eat,.drink{
    width:350px;
    border:2px solid black;
    text-align:center;
    padding:10px;
    background-color: dimgray;
    cursor:pointer;
}
.eat-container,.drink-container{
    display:none;
}
#a:checked~.eat-container{
    display:inline-block;
}
#b:checked~.drink-container{
    display:inline-block;
}
.eat-item>p,.eat-item>h3{
    margin:10px 0px;
    line-height:30px;
}
.drink-item>p,.drink-item>h3{
    margin:10px 0px;
    line-height:30px;
}
img{
    width:100%;
    /* height:100%; */
    object-fit: cover;
    margin:20px 0px;
    filter:grayscale(50%);
}
.fly>p{
    margin:5px 0px;
    padding:10px;
    line-height:25px;
}
.fly span{
    background-color: black;
    color:aliceblue;
}
.reserve{
    margin:2px 0px;
    padding:0px 5px;
}
.reserve b{
    font-size:larger;
}
input{
    display:flex;
    flex-direction:column;
    margin:10px 5px 10px 5px;
    width:99%;
    border:2px solid lightblack;
    padding:15px 0px;
}
button{
    background-color: black;
    color:aliceblue;
    padding:10px 0px;
    margin:10px 5px 10px 5px;
}
.footer-container{
    text-align:center;
    margin:70px;
    padding:10px;
}
